In [1]:
# This module runs the linear regression analysis
# Database "student-mat.csv" is used as the training set

import my_functions as mf
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment', None)  # To turn off SettingWithCopyWarning
np.set_printoptions(formatter={'float': lambda x: "{0:0.3f}".format(x)})  # To print the predicted w to 3 decimals places


# In order to train the model to predict final grade in Math, student-mat.csv is loaded
x, y = mf.load_data("data/student-mat.csv")

In [2]:
x

    school sex  age      Mjob      Fjob higher activities  G1  G2
0       GP   F   18   at_home   teacher    yes         no   5   6
1       GP   F   17   at_home     other    yes         no   5   5
2       GP   F   15   at_home     other    yes         no   7   8
3       GP   F   15    health  services    yes        yes  15  14
4       GP   F   16     other     other    yes         no   6  10
..     ...  ..  ...       ...       ...    ...        ...  ..  ..
390     MS   M   20  services  services    yes         no   9   9
391     MS   M   17  services  services    yes         no  14  16
392     MS   M   21     other     other    yes         no  10   8
393     MS   M   18  services     other    yes         no  11  12
394     MS   M   19     other   at_home    yes         no   8   9

[395 rows x 9 columns]

In [3]:
x_dummy = mf.dummy_matrices(x)

In [4]:
x_dummy

,school,sex,age,higher,activities,G1,G2,m_at_home,m_health,m_other,m_services,m_teacher,f_at_home,f_health,f_other,f_services,f_teacher
0,0,0,18,1,0,5,6,1,0,0,0,0,0,0,0,0,1
1,0,0,17,1,0,5,5,1,0,0,0,0,0,0,1,0,0
2,0,0,15,1,0,7,8,1,0,0,0,0,0,0,1,0,0
3,0,0,15,1,1,15,14,0,1,0,0,0,0,0,0,1,0
4,0,0,16,1,0,6,10,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,0,9,9,0,0,0,1,0,0,0,0,1,0
391,1,1,17,1,0,14,16,0,0,0,1,0,0,0,0,1,0
392,1,1,21,1,0,10,8,0,0,1,0,0,0,0,1,0,0
393,1,1,18,1,0,11,12,0,0,0,1,0,0,0,1,0,0
394,1,1,19,1,0,8,9,0,0,1,0,0,1,0,0,0,0

In [5]:
w, b, r_sq = mf.compute_model(x_dummy, y)

# Printing predicted w, b and r_sq to 3 decimal places
print("Predicted w: ", w, "\n")
print("Predicted b: ", "%.3f" % b, "\n")
print("Coefficient of determination: ", "%.3f" % r_sq, "\n")

Predicted w:  [0.240 0.206 -0.154 0.258 -0.325 0.167 0.968 -0.083 -0.145 0.013 0.142
 0.074 -0.196 0.436 0.138 -0.255 -0.123]

Predicted b:  0.550

Coefficient of determination:  0.828

In [6]:
lorenzo = mf.new_student(x)

lorenzo_dummy = mf.dummy_matrix_of_new_student(lorenzo,x)

Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): M
Please write the age of a student (from 15 to 25): 21
Please write the Mjob of a student (['at_home' 'health' 'other' 'services' 'teacher']): at_home
Please write the Fjob of a student (['teacher' 'other' 'services' 'health' 'at_home']): health
Please write the higher of a student (['yes' 'no']): yes
Please write the activities of a student (['no' 'yes']): yes
Please write the G1 of a student (from 0 to 20): 17
Please write the G2 of a student (from 0 to 20): 18

In [7]:
y_pred = mf.predict(lorenzo_dummy, w, b)

print("The predicted G3 for Lorenzo is : ", "%.3f" % y_pred)

The predicted G3 for Lorenzo is :  18.080